* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #4c6986;
}

header {
    background: rgb(46, 46, 46);
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.header-container {
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.header-container .logo {
    height: 150px;
    width: 300px;
    margin-right: 10px;
}

.header-container .logo img {
    height: 100%;
}

.title {
    max-width: 500px;
}

.wrapper {
    height: 800px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    background: white;
}

.dark-mode {
    background-color: black;
    color: white;
}

h1 {
    font-size: 65px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.restart {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4c6986;
    border-radius: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover {
    background-color: #4c6986;
    color: white;
}

.dark-mode .restart {
    border: 2px solid white;
}

.dark-mode .restart:hover {
    background-color: white;
    color: black;
}

.toggle {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4c6986;
    border-radius: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.toggle:hover {
    background-color: #4c6986;
    color: white;
}

.dark-mode .toggle {
    border: 2px solid white;
}

.dark-mode .toggle:hover {
    background-color: white;
    color: black;
}

.toggle:after {
    content: "Dark Mode";
}

.dark-mode .toggle:after {
    content: "Light Mode";
}

.game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: #9a9a9a;
    font-size: 24px;
}

.header .player-X {
    flex: 1;
    border-bottom: 5px solid #eee;
}

.player-X.active {
    color: #42bed7;
    border-color: #42bed7;
}

.header .player-O {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-O.active {
    color: #d7bafb;
    border-color: #fbbaf6;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-grow: 1;
    grid-gap: 0px;
    padding: 10px;
}

.board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 800;
    cursor: pointer;
}

.board-tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:hover {
    background-color: #eee;
}

.tile-X {
    color: #42bed7;
}

.tile-O {
    color: #d7bafb;
}

.tile-winner span {
    color: #5c0c91;
}

.copyright {
    padding: 20px 40px;
    margin: 0 auto;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(206, 206, 206);
}

.copyright span {
    font-size: 10px;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
    }
    .left {
        margin-bottom: 50px;
    }
}